<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>home page</h1>
    <p>
        Lorem ipsum, dolor si
        t amet consectetur adi
        pisicing elit. Officii
        s necessitatibus deser
        unt aliquam tempora ne
        mo, quia beatae, mol
        estiae inventore voluptatum, iusto aperiam fugiat! Corrupti ab
         sint culpa. Illo inventore explicabo laborum!
    </p>
    <button>click me</button>
</body>
</html>